<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
        <a class="brand-logo darken-1" href="/">
            <img class="hide-on-med-and-down" src="assets/images/custom/agility.png" alt="agility mgr logo">
            <img class="show-on-medium-and-down hide-on-med-and-up" src="assets/images/custom/agility.png" alt="agility mgr logo">
        </a>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow ps ps--active-y" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion" style="transform: translateX(0px);">
        <li class="navigation-header">
            <a class="navigation-header-text">Ceremonies</a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="planning"><i class="material-icons">reorder</i><span class="menu-title" data-i18n="Chat">Sprint Planning</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="daily"><i class="material-icons">group_work</i><span class="menu-title" data-i18n="Chat">Daily Scrum</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="refinement"><i class="material-icons">blur_linear</i><span class="menu-title" data-i18n="Chat">Refinement</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="review"><i class="material-icons">rate_review</i><span class="menu-title" data-i18n="Chat">Sprint Review</span></a>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">Planning</a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="feature"><i class="material-icons">settings_backup_restore</i><span class="menu-title" data-i18n="Chat">Feature Roadmap</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="release"><i class="material-icons">train</i><span class="menu-title" data-i18n="Chat">Release Planning</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="unplanned"><i class="material-icons">event_busy</i><span class="menu-title" data-i18n="Chat">Unplanned Work</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="issues"><i class="material-icons">block</i><span class="menu-title" data-i18n="Chat">Issues</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="bugs"><i class="material-icons">bug_report</i><span class="menu-title" data-i18n="Chat">Bugs</span></a>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">Code</a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="pullrequests"><i class="material-icons">call_merge</i><span class="menu-title" data-i18n="Chat">Pull Requests</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="commits"><i class="material-icons">code</i><span class="menu-title" data-i18n="Chat">Commits</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="branches"><i class="material-icons">call_split</i><span class="menu-title" data-i18n="Chat">Branches</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="deployments"><i class="material-icons">call_split</i><span class="menu-title" data-i18n="Chat">Deployments</span></a>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">Cross Team</a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="sprintmap"><i class="material-icons">settings_backup_restore</i><span class="menu-title" data-i18n="Chat">Sprint Map</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="developers"><i class="material-icons">people</i><span class="menu-title" data-i18n="Chat">Developers</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="sprints"><i class="material-icons">directions_run</i><span class="menu-title" data-i18n="Chat">Sprints</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="publicholidays"><i class="material-icons">beach_access</i><span class="menu-title" data-i18n="Chat">Public Holidays</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="timesheet"><i class="material-icons">beach_access</i><span class="menu-title" data-i18n="Chat">Timesheet</span></a>
        </li>
    </ul>
    <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>

