@inherits LayoutComponentBase

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div id="main">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    @Body
                </div>
            </div>
        </div>
    </div>
