[submodule "awesome-team-building"]
	path = awesome-team-building
	url = https://github.com/leandromonaco/awesome-team-building
[submodule "digital-knowledge-garden"]
	path = digital-knowledge-garden
	url = https://github.com/leandromonaco/digital-knowledge-garden
