--SELECT t.Name, d.Name, d.LoginUser, s.Description
--  FROM   [company].[Developer] d LEFT JOIN
--  [planning].[TeamChange] tc ON tc.DeveloperId=d.Id LEFT JOIN 
--  [company].[Team] t ON tc.TeamId=t.Id INNER JOIN
--  [category].[Specialization] s ON d.SpecializationId = s.Id
--ORDER BY t.Name, d.Name